<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <parameter name="browser" value="chrome" />
    <classes>
      <class name="aceCounter.DightyAudienceManager"/>
<!--       <class name="aceCounter.signUp"/> -->
<!--       <class name="aceCounter.termination"/> -->
<!--       <class name="aceCounter.Setting"/> -->
<!--       <class name="aceCounter.serviceManage"/> -->
<!--       <class name="aceCounter.accessCount"/> 주석처리 부분 수정 필요 -->
<!--       <class name="aceCounter.inflowPath"/> -->
<!--       <class name="aceCounter.searchADEffect"/> CPC, CPM 개선으로 인한 내용 수정 필요 -->
<!--       <class name="aceCounter.CPCInflow"/> CPC, CPM 개선으로 인한 내용 수정 필요 -->
<!--       <class name="aceCounter.marketingEffect"/> -->
<!--       <class name="aceCounter.Convert"/> -->
<!--       <class name="aceCounter.movePath"/> -->
<!--       <class name="aceCounter.Page"/> -->
<!--       <class name="aceCounter.Content"/> -->
<!--       <class name="aceCounter.pageLink"/> -->
<!--       <class name="aceCounter.Member"/> -->
<!--       <class name="aceCounter.Visitor"/> -->
<!--       <class name="aceCounter.systemEnvironment"/> -->
<!--       <class name="aceCounter.Purchaser"/> -->
<!--       <class name="aceCounter.Product"/> -->
<!--       <class name="aceCounter.purchasePattern"/> -->
<!--       <class name="aceCounter.shoppingBasket"/> -->
<!--       <class name="aceCounter.viralMarketing"/> -->


      
<!--       <class name="aceCounter.Dightytest"/> -->
<!--       <class name="aceCounter.demoAmDighty"/> -->
<!--       <class name="aceCounter.temporarily"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
